body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: justify;
  }
  footer {
    font-family: 'Courier New', Courier, monospace;
   text-align: center;
   
  }
  .flex-container {
    display: flex;
   flex-direction: column;
 
  }
  img {
    width: 40%;
    height: 40%;
    border-radius: 25px;
    
  }
  body nav{
    position: sticky;
    top: 0;
    display: flex;
    padding: 10px;
    background-color: rgb(123, 212, 21);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: inset 0 0 10px #000000;
  }
